In [ ]:
import data
data.load_data()

In [ ]:
import data

all_data:list[dict]=data.load_data()

### 採用兩個欄位各自unique的方式，並用on conflict時update的方法，讓每次資料都全部更新，可能比較占資源，並且要set一堆資料update

In [26]:
import psycopg2
conn=psycopg2.connect("postgresql://tvdi_09yy_user:XIo11qROxXzCLwzG2n8bsYnIH9aOv2k8@dpg-cpsctgt6l47c73e3hdr0-a.singapore-postgres.render.com/tvdi_09yy")    #建立連線
with conn:
    with conn.cursor() as cursor:
        sql='''
        create table if not exists youbike(
	    _id serial Primary key,
	    sna varchar(50) not null unique,
	    ar varchar(100),
	    sarea varchar(50),
	    mday timestamp,
	    updatetime timestamp,
	    total smallint,
	    rent_bikes smallint,
	    return_bikes smallint,
	    lat real,
	    lng real,
        act bool
        );
        '''
        cursor.execute(sql)
conn.close()    #斷開連線

In [28]:
conn=psycopg2.connect("postgresql://tvdi_09yy_user:XIo11qROxXzCLwzG2n8bsYnIH9aOv2k8@dpg-cpsctgt6l47c73e3hdr0-a.singapore-postgres.render.com/tvdi_09yy")
with conn:
    with conn.cursor() as cursor:
        insert_sql='''
        insert into youbike(sna,sarea,ar,mday,updatetime,total,rent_bikes,return_bikes,lat,lng)
        values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s) 
        on conflict (sna) do update 
        set sna=excluded.sna,
            sarea=excluded.sarea,
            ar=excluded.ar,
            mday=excluded.mday,
            updatetime=excluded.updatetime,
            total=excluded.total,
            rent_bikes=excluded.rent_bikes,
            return_bikes=excluded.return_bikes,
            lat=excluded.lat,
            lng=excluded.lng
        where youbike.updatetime != excluded.updatetime;
        '''
        for site in all_data:
            cursor.execute(insert_sql,(site['sna'],
                                    site['sarea'],
                                    site['ar'],
                                    site['mday'],
                                    site['updateTime'],
                                    site['total'],
                                    site['rent_bikes'],
                                    site['return_bikes'],
                                    site['lat'],
                                    site['lng']))
conn.close()

### 將sna及updatetime一起unique，並且當兩者同時on conflict時就do nothing，要寫的比較少且可能用的資源較少

In [33]:
import psycopg2
conn=psycopg2.connect("postgresql://tvdi_09yy_user:XIo11qROxXzCLwzG2n8bsYnIH9aOv2k8@dpg-cpsctgt6l47c73e3hdr0-a.singapore-postgres.render.com/tvdi_09yy")    #建立連線
with conn:
    with conn.cursor() as cursor:
        sql='''
        create table if not exists youbike(
	    _id serial Primary key,
	    sna varchar(50) not null,
	    ar varchar(100),
	    sarea varchar(50),
	    mday timestamp,
	    updatetime timestamp,
	    total smallint,
	    rent_bikes smallint,
	    return_bikes smallint,
	    lat real,
	    lng real,
        act bool,
        unique(sna,updatetime)
        ) ;
        '''
        cursor.execute(sql)
conn.close()    #斷開連線

In [35]:
conn=psycopg2.connect("postgresql://tvdi_09yy_user:XIo11qROxXzCLwzG2n8bsYnIH9aOv2k8@dpg-cpsctgt6l47c73e3hdr0-a.singapore-postgres.render.com/tvdi_09yy")
with conn:
    with conn.cursor() as cursor:
        insert_sql='''
        insert into youbike(sna,sarea,ar,mday,updatetime,total,rent_bikes,return_bikes,lat,lng)
        values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s) 
        on conflict (sna,updatetime) do nothing;
        '''
        for site in all_data:
            cursor.execute(insert_sql,(site['sna'],
                                    site['sarea'],
                                    site['ar'],
                                    site['mday'],
                                    site['updateTime'],
                                    site['total'],
                                    site['rent_bikes'],
                                    site['return_bikes'],
                                    site['lat'],
                                    site['lng']))
conn.close()